/* Apply the following styles to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for the entire body of the document */
body {
    min-height: 100vh;
    background: #efeff2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Styles for the calculator container */
.calculator {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background: #22252D;
    overflow: hidden;
}

/* Styles for the input field within the form */
form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background: rgb(0, 1, 61);
    text-align: right;
    pointer-events: none; /* Disable pointer events to prevent interaction with the input */
}

/* Styles for the buttons container */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Styles for individual buttons */
button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid black;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles for the yellow-colored button */
.btn-yellow {
    background: orange;
    color: white;
}

/* Styles for the grey-colored button */
.btn-grey {
    background: lightgray;
}

/* Styles for the equal button */
.btn-equal {
    background: green;
}

/* Styles for the clear button */
.btn-clear {
    background: red;
}

/* Styles for the title container */
.title-container {
    height: 60px; /* Set a fixed height for the title container */
    overflow: hidden; /* Hide content that exceeds the height */
}

/* Styles for the title text */
.title {
    font-size: 2rem;
    font-weight: bold;
    color: #22252D;
    font-family: 'Courier New', Courier, monospace;
    transition: color 0.1s; /* Add a color transition effect */
    border: 2px solid #333;
    border-radius: 15px;
    padding: 15px;
}

/* Hover effect on the title text */
.title:hover {
    color: #ffffff; /* Change text color on hover */
    background-color: #22252D;
    border: 2px solid #FF6347; /* Adjust border color on hover */
}

/* Additional padding for spacing */
.padd {
    padding-bottom: 20px;
}
